[submodule "my-hugo-blog/themes/paper"]
	path = my-hugo-blog/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "my-hugo-blog/themes/ananke"]
	path = my-hugo-blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "my-hugo-blog/themes/PaperMod"]
	path = my-hugo-blog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "my-hugo-blog/themes/archie"]
	path = my-hugo-blog/themes/archie
	url = https://github.com/athul/archie.git
[submodule "my-hugo-blog/theme/classless-blog"]
	path = my-hugo-blog/theme/classless-blog
	url = https://gitlab.com/Kaligule/classless-blog.git
[submodule "my-hugo-blog/themes/classless-blog"]
	path = my-hugo-blog/themes/classless-blog
	url = https://gitlab.com/Kaligule/classless-blog.git
